# To create a workflow that performs a Docker build, and then publishes Docker images to Docker Hub or GitHub Packages

name: Docker Image CI
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Build the Docker images
      run:  |
        docker build --no-cache -t docker.io/pratyusha056/rescaling -f Dockerfile  
    - name: Log in to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Push the Docker images
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: docker push docker.io/pratyusha056/rescaling